@import 'tailwindcss';

@font-face {
    font-family: 'SiteEnglish';
    src: url('/fonts/IoskeleyMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range:
            U+0000-00FF,
            U+0100-024F,
            U+1E00-1EFF;
}

@font-face {
    font-family: 'SiteEnglish';
    src: url('/fonts/IoskeleyMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range:
            U+0000-00FF,
            U+0100-024F,
            U+1E00-1EFF;
}

@font-face {
    font-family: 'SiteCJK';
    src: url('/fonts/NotoSansSC.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0 auto;
    max-width: 1200px;
    border: 0;
    padding: 0;
    font-family: 'SiteEnglish', 'SiteCJK', sans-serif;
}

@media (min-width: 1024px) {
    body {
        padding: 50px;
    }
}