@import 'tailwindcss';
@source "./components/navTabs.tsx";
@source "./generated";
@source "./lib";
@import 'prismjs/themes/prism.css';

@font-face {
    font-family: 'BlogEnglish';
    src: url('/generated-fonts/IoskeleyMono-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    unicode-range:
        U+0000-00FF,
        U+0100-024F,
        U+1E00-1EFF;
}

@font-face {
    font-family: 'BlogEnglish';
    src: url('/generated-fonts/IoskeleyMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    unicode-range:
        U+0000-00FF,
        U+0100-024F,
        U+1E00-1EFF;
}

@font-face {
    font-family: 'BlogCJK';
    src: url('/generated-fonts/NotoSansSC.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #fafafa;
    margin: 0 auto;
    max-width: 1200px;
    border: 0;
    padding: 0;
    font-family: 'BlogEnglish', 'BlogCJK', sans-serif;
}

@media (min-width: 1024px) {
    body {
        padding: 50px;
    }
}

.divider-dot-matrix {
    margin-top: 7px;
    margin-bottom: 28px;
    border: none;
    height: 12px;
    background-image: radial-gradient(circle, #9ca3af 1px, transparent 1px);
    background-size: 3px 3px;
}